

.container {
    width: 960px;
    height: 600px;
    padding: 20px;
    margin: 75px auto;
    box-shadow: 0px 0px 5px 5px gray;
    border: 10px;
    background-image: url(../images/pink-rice.png);
    background-size: auto;
}

.image {
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

